body{
    text-align: center;
}
.navbar{
    padding: 20px 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    z-index: 999;
    background-color: #f3f4f6;
    box-shadow: 0 0 14px rgba(0,0,0, 0.3)
}
.menu{
    text-align: center;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
    text-align: center;
}
.navbar .menu li a{
    display: block;
    margin-left: 200px;
    color: #424144;
    border-bottom: 4px solid transparent;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.navbar .menu li .active{
    border-bottom: 4px solid #f63e4e;
 }
 .navbar .menu li a i{
    color: #f63e4e;
}
.navbar .menu li a:hover{
    border-bottom: 4px solid #f63e4e;
}